
#quizArea{
font-weight: bold;
border-style: solid;
background-color: #FFFF00;
text-align: center;
padding-left:10px; 
padding-right:10px;
padding-top: 20px;
padding-bottom: 20px;
width: 300px;
height: 75px;
margin-left: 40%;
position:relative;
margin-bottom: 20px;
}
body{
	background-color:lightblue;
	width:auto;
	height: auto;
}
h1{
	text-align: center;
	color: blue;
	font-weight: bold;
	font-family:Helvetica, sans-serif;	
	font-weight: bold;
	margin-top: 10px;
	}
#timer{
  text-align: center;
  color:black;

  font-family:Helvetica, sans-serif;
  margin-top: 10x;
  font-size:18px;
}

h3{
  text-align: center;
  color:black;
  font-family:Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:18px;

}
#questions{
text-align: center;

}
.Buttons{
	text-align: center;
	font-weight: bold;
	font-family:Helvetica, sans-serif;	
	margin-top: 20px;
	font-size: 18px;
	}

}